[alias]
	stat        = status
	co          = checkout
	# Taken from http://coderwall.com/p/euwpig?i=3&p=1&t=git
	lg          = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage     = reset HEAD
	up          = "!sh -c 'git stash && git pull --rebase && git stash pop'"
	starepocopu = "!sh -c 'git stash && git pull --rebase && git stash pop && git commit -a && git push'"
        wd          = diff --word-diff
	update-externals = submodule update --init --recursive
	putsch      = push --force
[color]
	branch = auto
	status = auto
	diff   = auto
	ui     = auto

[user]
	name = Sebastian Nohn
	email = sebastian@nohn.net
	signingkey = 3A641093
[push]
	default = upstream
[branch "master"]
        remote = origin
        merge = refs/heads/master
